<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (author(); as authorRef) {
      <div>
        <h2 data-cy="authorDetailsHeading"><span jhiTranslate="classmiBeApp.author.detail.title">Author</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="classmiBeApp.author.id">Id</span></dt>
          <dd>
            <span>{{ authorRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="classmiBeApp.author.name">Name</span></dt>
          <dd>
            <span>{{ authorRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="classmiBeApp.author.createdBy">Created By</span></dt>
          <dd>
            <span>{{ authorRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="classmiBeApp.author.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ authorRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="classmiBeApp.author.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ authorRef.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="classmiBeApp.author.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ authorRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="classmiBeApp.author.books">Books</span></dt>
          <dd>
            @for (books of authorRef.books; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/book', books.id, 'view']">{{ books?.title }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/author', authorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
