<div>
  <h2 id="page-heading" data-cy="BookHeading">
    <span jhiTranslate="classmiBeApp.book.home.title">Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="classmiBeApp.book.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book"
        [routerLink]="['/book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="classmiBeApp.book.home.createLabel">Genera un nuovo Book</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (books().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="classmiBeApp.book.home.notFound">No Books found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titleSearch">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.titleSearch">Title Search</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isbn">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.isbn">Isbn</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publisher">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.publisher">Publisher</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publishedYear">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.publishedYear">Published Year</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isVerified">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.isVerified">Is Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="verifyUrl">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.verifyUrl">Verify Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="viewAuthors">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.viewAuthors">View Authors</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frontImageLink">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.frontImageLink">Front Image Link</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="backImageLink">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.backImageLink">Back Image Link</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pagesNumber">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.pagesNumber">Pages Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.language">Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="classmiBeApp.book.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (book of books(); track trackId(book)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a>
              </td>
              <td>{{ book.title }}</td>
              <td>{{ book.titleSearch }}</td>
              <td>{{ book.isbn }}</td>
              <td>{{ book.publisher }}</td>
              <td>{{ book.publishedYear }}</td>
              <td>{{ book.isVerified }}</td>
              <td>{{ book.verifyUrl }}</td>
              <td>{{ book.viewAuthors }}</td>
              <td>{{ book.frontImageLink }}</td>
              <td>{{ book.backImageLink }}</td>
              <td>{{ book.pagesNumber }}</td>
              <td>{{ book.language }}</td>
              <td>{{ book.description }}</td>
              <td>{{ book.createdBy }}</td>
              <td>{{ book.createdDate | formatMediumDatetime }}</td>
              <td>{{ book.lastModifiedBy }}</td>
              <td>{{ book.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/book', book.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(book)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
